.upperdivnav {
  width: 99vw;
  height: 34px;
  color: rgb(250, 22, 129);
  background-color: rgb(245, 245, 245);
  padding: 5px;
  border-bottom: 1px solid rgb(190, 162, 162);
  position: sticky;
  top: 0px;
}
.upperdivnav button {
  color: rgb(250, 22, 129);
  font-weight: bolder;
  background-color: rgb(245, 245, 245);
  float: right;
  border: none;
}

.parentdivnav {
  width: 99vw;
  height: 60px;
  background-color: white;
  padding: 20px;
  position: sticky;
  top: 34px;
}
.parentdivnav img {
  min-width: 259px;
  height: 22px;
  margin-right: 20px;
}

.parentdivnav button {
  font-weight: bolder;
  background-color: white;
  border: none;
  padding-right: 20px;
  font-size: 14px;
}

.parentdivnav button:hover {
  color: rgb(250, 22, 129);
}
.parentdivnav i {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10px;
  cursor: pointer;
}
.parentdivnav i:hover {
  color: rgb(250, 22, 129);
}
.innerdivnav {
  float: right;
}
.upperdivnav .exploreDiv {
  width: 99%;
  height: 400px;
  z-index: 100;
  display: block;
  position: absolute;
  top: 100px;
}
